
@media only screen and (max-width: 768px){
	.navbar .nav-item .nav-link {
		text-align: left;
	}
    .navbar .nav-item .hover-dropdown {
        display: none;
        position: relative;
        padding: 0px;
        margin: 0px;
        padding-left: 10%;
        background-color: unset;
    }
    .navbar .nav-item .hover-dropdown::before {
        display: none;
    }
    .navbar .nav-item .hover-dropdown * {
        color: rgba(255, 255, 255, 0.6);
        padding: 4px 0px;
    }
    .navbar .nav-item .hover-dropdown *:hover {
        color: #fff;
    }

    .hero {
        height: 300px;
    }

	.hero .frame {
		width: 100%;
		max-width: 100%;
		height: 100%;
		padding: 0px 20px;
		align-items: center;
		background: rgba(0, 0, 0, 0.5);
        text-align: center;
	}

    .hero .frame h1,
    .hero-single .frame h1 {
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
    }

    .hero-short form {
        padding: 5px 10px;
    }
    .hero-insurance .frame h1 {
        font-size: 20px;
    }
    .hero-insurance .frame p {
        font-size: 12px;
    }.hero-insurance .frame a {
        font-size: 13px;
        padding: 10px 40px;
    }

    .banner::before,
    .banner::after {
        display: none;
    }
    .banner h1 {
        font-size: 40px;
    }
    .testimonials:hover {
        transform: unset;
    }
}