@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');

body {
	color: #272c58;
	background-color: #fefefe;
	font-size: 20px;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: #ddd;
}

body::-webkit-scrollbar-thumb {
  background-color: #0c359e;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.modal-fullscreen {
	max-width: 25%;
}

/* utilities */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
	max-width: 100%;
}

.accordion-button:focus,
.btn:focus,
.form-control:focus,
.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none !important;
}

.navbar {
	background-color: #060630;
	backdrop-filter: blur(5px);
	padding: 20px 0px;
}

.navbar .navbar-brand img {
	height: 40px;
	width: auto;
}

.navbar .nav-item,
.navbar .nav-item .nav-link {
	padding: 0px 0px;
	margin: 0px 0px;
}

.navbar .nav-item .nav-link {
	color: #fff;
	min-width: 100px;
	height: 35px;
	font-size: 14px;
	line-height: 35px;
	padding: 0px 20px;
	position: relative;
	text-align: center;
}

.navbar .nav-item .nav-link.active {
	color: #3ff252;
}

.navbar .nav-item:hover .nav-link {
	color: #009cdb;
}

.navbar .nav-item .nav-link:focus {
	color: #3ff252;
}

.navbar .nav-item .nav-link.active {
	border-radius: 20px;
	background-color: rgba(40, 40, 40, 0.05);
}

.navbar .nav-item:hover .hover-dropdown {
	display: flex;
}

.navbar .nav-item .hover-dropdown {
	position: absolute;
	display: none;
	flex-direction: column;
	max-width: 300px;
	min-width: 200px;
	background: #fff;
	padding: 10px 0px;
	margin: 5px 0px;
	border-radius: 5px;
}

.navbar .nav-item .hover-dropdown::before {
	left: 40px;
	top: -20px;
	content: "";
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
}

.navbar .nav-item .hover-dropdown * {
	color: #060630;
	display: block;
	padding: 8px 10px;
	line-height: normal;
	font-size: 14px;
}

.navbar .nav-item .hover-dropdown *:hover {
	color: #3ff252;
	background-color: #060630;
}

.navbar .nav-item .hover-dropdown *.active {
	color: #000;
	background-color: #dedede;
}

.navbar-toggler {
	border: none;
	border-radius: 0;
	color: #fff;
}

.get-offer {
	min-width: 150px;
	color: #fff;
	background-color: #0C359E;
	border: none;
}

.get-offer:hover {
	color: #fff;
	background-color: #009cdb;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

.hero {
	height: 600px;
	overflow: hidden;
	position: relative;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero .frame {
	position: absolute;
	left: 0px;
	bottom: 0px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: end;
	width: 100%;
	height: 100%;
	padding: 100px 100px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), transparent);
}

.hero .frame h1 {
	color: #fff;
	font-size: 40px;
	line-height: 50px;
	margin: 20px 0px;
	text-shadow: 0px 2px 4px #000;
}

.hero-single {
	position: relative;
}

.hero-single .frame {
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	position: absolute;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
}

.hero-single .frame h1 {
	color: #fafafa;
	font-size: 80px;
	text-shadow: 0px 2px 5px #000;
}

.hero-single .frame .get-offer {
	padding: 8px 50px;
}

.hero-location .title {
	color: #fff;
	font-size: 50px;
}

.hero-short {
	height: 300px;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 0px 10%;
	justify-content: center;
	background-color: #F2EFE5;
	text-align: center;
}

.hero-short form {
	width: 700px;
	max-width: 100%;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	grid-gap: 5px;
	padding: 10px 20px;
	background-color: #fff;
}

.hero-short form input {
	border: none;
	padding: 8px 0px;
	background-color: #fff;
	border-radius: 0px;
}

.hero-short form button {
	min-width: 50px;
	border-radius: 0px;
	border: none;
	background-color: transparent;
}

.splide__slide img {
  width: 100%;
}

.intro .title {
	font-size: 50px;
}

.intro .subtitle {
	font-size: 25px;
}

.features {
	height: 100%;
	background-color: #FFE3CA;
}

.features video {
	width: 100%;
	max-width: 100%;
}

.features h1 {
	margin: 10px 0px;
}

.location h1 {
	font-size: 50px;
	margin: 0px;
}

.location h2 {
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
}

.slide .splide__slide {
	background-color: #fafafa;
}

.banner {
	color: #fff;
	background-color: #060630;
	position: relative;
}

.banner.banner-light {
	background-color: #AAD7D9;
}

.banner.banner-light * {
	color: #060630;
}

.banner::before,
.banner::after {
	content: "";
	position: absolute;
	height: 100%;
	aspect-ratio: 1/1;
	display: inline-block;
	background-image: url('../images/pattern.png');
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

.banner::before {
	top: 0px;
	left: 0px;
}
.banner::after {
	right: 0px;
	top: 0px;
	transform: rotateY(180deg);
}

.banner-light::before,
.banner-light::after {
	display: none;
}

.banner h1 {
	color: #fff;
	font-size: 50px;
}

.testimonials {
	cursor: pointer;
}

.testimonials.odd {
	background-color: #ffe3ca;
}

.testimonials.odd:hover {
	outline: 2px solid #F3B95F;
}

.testimonials.even {
	background-color: #DBE7C9;
}

.testimonials.even:hover {
	outline: 2px solid #99BC85;
}

.testimonials img {
	width: 100%;
	max-width: 150px;
	aspect-ratio: 1/1;
	border-radius: 100%;
}

.testimonials h1 {
	font-size: 24px;
}

.testimonials p {
	font-size: 14px;
}

.faq p {
	font-size: 14px;
}

.compare {
	text-align: center;
}

.compare .circle {
	color: #0056a7;
	width: 100%;
	max-width: 100%;
	aspect-ratio: 1/1;
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background-color: #fafafa;
}

.compare h1 {
	color: #fff;
}


footer {
	font-size: 14px;
	background-color: #060630;
}

footer h1 {
	color: #fff;
	font-size: 18px;
}

footer a {
	color: #fff;
}

footer nav a {
	display: block;
	margin: 5px 0px;
}

footer a:hover {
	color: #3ff252;
}

footer .company-info p {
	margin: 5px 0px;
	color: #fff;
}
