@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import url('https://fonts.cdnfonts.com/css/samsung-sharp-sans');

body {
	color: #272c58;
	background-color: #fefefe;
	font-size: 20px;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: #ddd;
}

body::-webkit-scrollbar-thumb {
  background-color: #0c359e;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #171a35;
}

.accordion-button:focus,
.btn:focus,
.form-control:focus,
.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none !important;
}

.navbar {
	background-color: #060630;
	backdrop-filter: blur(5px);
	padding: 20px 0px;
}

.navbar .navbar-brand img {
	height: 40px;
	width: auto;
}

.navbar .nav-item,
.navbar .nav-item .nav-link {
	padding: 0px 0px;
	margin: 0px 0px;
}

.navbar .nav-item .nav-link {
	color: #fff;
	min-width: 100px;
	height: 35px;
	font-size: 14px;
	line-height: 35px;
	padding: 0px 20px;
	position: relative;
	text-align: center;
}

.navbar .nav-item:hover .nav-link {
	color: #3ff252;
}

.navbar .nav-item .nav-link:focus {
	color: #009cdb;
}

.navbar .nav-item .nav-link.active {
	border-radius: 20px;
	background-color: rgba(40, 40, 40, 0.05);
}

.navbar .nav-item:hover .hover-dropdown {
	display: flex;
}

.navbar .nav-item .hover-dropdown {
	position: absolute;
	display: none;
	flex-direction: column;
	max-width: 300px;
	min-width: 200px;
	background: #fff;
	padding: 10px 0px;
	margin: 5px 0px;
	border-radius: 5px;
	transition: all linear .2s;
}

.navbar .nav-item .hover-dropdown::before {
	left: 40px;
	top: -20px;
	content: "";
	width: 0px;
	height: 0px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
}

.navbar .nav-item .hover-dropdown * {
	color: #060630;
	display: block;
	padding: 8px 10px;
	line-height: normal;
	font-size: 14px;
	transition: all linear .3s;
}

.navbar .nav-item .hover-dropdown *:hover {
	color: #3ff252;
	background-color: #060630;
}

.navbar-toggler {
	border: none;
	border-radius: 0;
	color: #fff;
}

.get-offer {
	width: 150px;
	color: #fff;
	background-color: #0C359E;
}

.get-offer:hover {
	color: #fff;
	background-color: #009cdb;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

.hero .frame {
	position: relative;
}

.hero .frame .call-to-action {
	position: absolute;
	left: 0px;
	bottom: 0px;
	display: flex;
	flex-flow: column;
	align-items: start;
	justify-content: center;
	height: 100%;
	max-width: 50%;
	padding: 0px 120px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), transparent);
}

.hero .frame .call-to-action h2 {
	color: #fff;
	font-size: 40px;
	line-height: 50px;
	margin: 20px 0px;
}

.splide__slide img {
  width: 100%;
}

@media only screen and (max-width: 768px){
	.navbar .nav-item .nav-link {
		text-align: left;
	}
	.hero .frame img {
		min-height: 300px;
		object-fit: cover;
	}
	.hero .frame .call-to-action {
		width: 100%;
		max-width: 100%;
		height: 100%;
		padding: 0px;
		align-items: center;
		background: rgba(0, 0, 0, 0.5);
	}
	.hero .frame .call-to-action h2 {
		font-size: 30px;
		text-align: center;
		padding: 0px 50px;
		line-height: 35px;
	}
}

.intro .title {
	font-size: 50px;
}

.intro .subtitle {
	font-size: 25px;
}

.features {
	height: 100%;
	background-color: #FFE3CA;
}

.features video {
	width: 100%;
	max-width: 100%;
}

.features h1 {
	margin: 10px 0px;
}

.location h1 {
	font-size: 50px;
}

.location h2{
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
}

.slide .splide__slide {
	background-color: #F1FADA;
}

.banner {
	color: #fff;
	background-color: #060630;
}

.banner h1 {
	color: #fff;
	font-size: 50px;
}

.testimonials {
	cursor: pointer;
}

.testimonials:hover {
	transform: scale(1.05);
	outline-offset: -2px;
	transition: all linear .3s;
}

.testimonials.odd {
	background-color: #ffe3ca;
}

.testimonials.odd:hover {
	outline: 2px solid #F3B95F;
}

.testimonials.even {
	background-color: #DBE7C9;
}

.testimonials.even:hover {
	outline: 2px solid #99BC85;
}

.testimonials img {
	width: 100%;
	max-width: 150px;
	aspect-ratio: 1/1;
	border-radius: 100%;
}

.testimonials h1 {
	font-size: 24px;
}

.testimonials p {
	font-size: 14px;
}

footer {
	font-size: 14px;
	background-color: #060630;
}

footer h1 {
	color: #fff;
	font-size: 18px;
}

footer a {
	color: #fff;
}

footer nav a {
	display: block;
	margin: 5px 0px;
}

footer a:hover {
	color: #3ff252;
}

footer .company-info p {
	margin: 5px 0px;
	color: #fff;
}
